<!DOCTYPE html>

<html lang="es-es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Inicio de Sesion</title>

    <link rel="stylesheet" href="~/MyStaticFiles/Style/iniciostyle.css" />

</head>
<body>
    <form class="box" action="Inicio.html" method="post">

        <h1>Inicio de Sesion</h1>

        <input type="text" name"" placeholder="Usuario">
        <input type="password" name"" placeholder="Contraseña">
        <input type="submit" name="" value="Ingresar">
    </form>
</body>
</html>

